/* CSS for desktop and bigger screen devices*/

/* css variables*/

/*
:root {
--primary-color: #......;


} */
/* end of varibales*/

html {
   scroll-behavior: smooth;
}

/* css resets and general styles*/
* {
    margin: 0;
    padding: 0;
}
    
body {
   
   /* box-sizing: border-box*/
    font-family: Roboto;
    color: darkslategray;
}


a {
    
    /*color: set to primary color?*/
}

/*a:hover {
    color: set to secondary color?
}*/

h1 {
    font-family: "Patrick Hand";
    font-size: 58px;
    /*color: mediumseagreen*/
    /*what about darksegreen?? and black?*/
    
}

h2 {
    font-size: 36px; 
    padding: 12px;
}

h3 {
    font-size: 24px;
    padding: 8px;
}

p {
    font-size: 18px;
    color: slategray;
}

/*      Header and Navigation   */


.navbar {

    display: flex;
    align-items:first center;
    justify-content: space-between;
    padding: 22px 22px 22px 100px;
    color: darksalmon;
    border: 2px darksalmon solid
}

.navbar h1 {
    color: darksalmon;
    font-size: 48px;
    
}
.navbar a {
    color: darksalmon;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.navlist {
    display: flex;
    list-style-type: none;
    gap: 1.9rem;
}

.hamburger {
    display: none;
    font-size: 25px;
}

/*      Intro (Hero) Section    */

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 48px;
}

.intro-text {
    margin-top: 48px;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 64px;
    line-height: 0.8;
    padding: 8px;
}

.intro h2 {
    line-height: 0.9;
}

.intro-btn {
    padding: 12px 28px;
    margin: 18px;
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 500;
    color: darkslategray;
}

.intro-btn:hover {
    background-color: rgb(227, 121, 86); 
    /*bit darker than salmon, try out different shades*/
    color: white;
    font-size: 18px;
}


/*      Skills Section          */

.skills {
    background-color: darksalmon;
    text-align: center;
    margin: 20px;
    padding: 20px;
    min-height: 700px;
}

.skill-container {
    display: flex;
}

.skill-card {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 8px;
    width: 30%;
}

.skill-card ul {
    list-style-type: none;
    color: slategray;
    font-size: 18px;
    
}
/*      About Section           */

.about {
    margin: 20px;
    padding: 20px;
    min-height: 700px;
}

.about h2 {
    color: mediumseagreen;
}

.about-mindfulness {
    justify-self: center;
    text-align: center;
    padding: 20px 100px;
}



/*      Projects Section        */
.projects {
    background-color: mediumseagreen;
    color: white;

}


/*      Contact Section         */
     /*white background*/



/*      Footer Section          */ 

footer {
    background-color:mediumseagreen;
    color: white;
    text-align: center;
    padding: 20px;

}

/*      Scroll-to-Top Icon      */

.scroll-up {
    position: fixed;
    right: 2.5%;
    bottom: 3%;
    cursor: pointer;
    font-size: 32px;
    opacity: 0.8;
}